.introducao{

    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
   
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
    color: #121212;
    
}


.introducao a{
    background-color: #A73469;
    color: #fff;
    text-decoration: none;
    padding:  15px 30px;
    border-radius: 4px;
}

.introducao a:hover{
     background-color: #4A285D;
     color: #fff;
     border-radius: 4px solid;
}

@media ( max-width: 1000px){
    .introducao h1{
        font-size: 3rem;
    }
}

@media ( max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 3rem;
    }
}



@media ( max-width: 600px) {
    .introducao {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    .introducao h1{
        font-size: 3rem;
}


}



@media (max-width: 400px) {
    .introducao{
        grid-template-columns: 1fr;
    }

    .introducao img{
        display: none;
    }

}